.about-company__container {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  column-gap: 24px;
}

.about-company__text-container {
  flex: 0 0 calc(50% - 12px);
}

.container-video__about-company {
  flex: 0 0 calc(50% - 12px);
}

.container-img__about-company {
  flex: 0 0 calc(50% - 12px);
  img {
    width: 100%;
    max-width: 412px;
  }
}

.video__about-company {
  width: 240px;
  min-width: 50%;
  height: 300px;
  display: block;
  margin: 0 auto;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  object-fit: scale-down;
}

.about-company__text {
  line-height: 1.5;
  font-size: 18px;
  text-align: start;
  &:not(:first-of-type) {
    margin-top: 16px;
  }
}

ul.about-company__text {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 16px;
}

@include mid-screen() {
  .about-company__container {
    flex-direction: column;
    row-gap: 46px;
    align-items: center;
    .container-img__about-company {
      img {
        width: 80%;
        max-width: 412px;
      }
    }
  }

  .about-company__text {
    font-size: 18px;
  }

  ul.about-company__text {
    font-size: 16px;
  }
}

@include tablet-screen() {
  .about-company__text {
    font-size: 18px;
  }
}

@include mobile-screen() {
  .about-company__text {
    font-size: 16px;
    line-height: 1.5;
  }

  ul.about-company__text {
    font-size: 14px;
  }
}
