.general__section {
  padding-inline: 36px;
}

.general__section.company-name__section {
  padding-inline: 0;
}

// .company-name__section {
//   margin-top: 80px;
//   padding-inline: 0;
//   background-color: $bg-color-secondary;
//   background-image: url("@img/CompanyName/company-name-bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center 0%;
// }

.company-name__section .test {
  background-color: rgba($color: #000000, $alpha: 0.2);
  min-height: 700px;
  padding-inline: 36px;
}

.company-name__section {
  margin-top: 80px;
  background-color: $bg-color-secondary;
  background-image: url("@img/CompanyName/bg-16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0%;
  height: 700px;
}

.main-company-logo {
  margin-top: 40px;
}

.company-name__title {
  margin-top: 24px;
  font-size: 42px;
  font-weight: 700;
  color: $accent-color-secondary;
  color: white;
  text-shadow: 2px 2px 1px black;
  line-height: 1.2;
}

.company-name__title2 {
  display: block;
}

.company-name__subtitle {
  display: block;
  padding-block: 24px;
}

.main-company-logo {
  max-width: 76%;
}

@include mid-screen() {
  .company-name__section {
    margin-top: 100px;
  }
  .company-name__title {
    font-size: calc((100vw - 768px) / 332 * 6 + 34px);
  }
}

@include mobile-screen() {
  // .company-name__section {
  //   padding-bottom: 320px;
  // }

  .company-name__section {
    height: 640px;
  }

  .company-name__section .test {
    min-height: 640px;
    padding-inline: 12px;
  }

  .general__section {
    padding-inline: 12px;
  }

  .main-company-logo {
    margin-top: 20px;
  }

  .company-name__title {
    font-size: 22px;
  }

  .company-name__subtitle {
    font-size: 21px;
  }
}

@include extra-small-screen {
  .company-name__section {
    height: 560px;
  }

  .company-name__section .test {
    min-height: 560px;
  }
}
