.footer {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 24px;
  padding-inline: 36px;
  background-color: black;
  scroll-margin-top: 80px;

  &__library {
    display: flex;
    justify-content: space-between;
  }

  &__rss {
    margin-top: 24px;
  }

  &__wrapper-left {
    max-width: 239px;
  }
}

.contacts-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-inline: auto;
}

.footer__address-link {
  font-size: 15px;
  line-height: 1;
}

.social {
  margin-top: 19px;
  display: flex;
  gap: 15px;
}

.messenger-links {
  display: flex;
  justify-content: start;
  column-gap: 16px;
}

.footer-photo img {
  width: 400px;
  height: 240px;
  object-fit: cover;
  max-width: 100%;
  max-height: auto;
}

.contacts-title {
  font-size: 38px;
  font-weight: 500;
  padding: 5px;
  margin-inline: auto;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:first-of-type {
    margin-top: 11px;
  }
}

.contacts__link.messenger-link {
  width: 130px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts__link span {
  display: inline-block;
}

.divider {
  margin-top: 27px;
  color: white;
  opacity: 0.5;
}

.footer__wrapper-right {
  padding-right: 1px;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;

  p:nth-of-type(3) {
    margin-top: 8px;
  }
}

.footer__rss .footer__company-name {
  font-size: 12px;
  line-height: 1.2;
}

.footer__rss li {
  text-align: center;
}

.location-item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.social-chenels {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 14px;
}

.chenel-title {
  font-size: 18px;
  font-weight: 600;
}

// Стили для медиазапросов
@include mobile-screen() {
  .footer {
    padding-inline: 16px;

    &__library {
      flex-direction: column;
      align-content: start;
    }

    &__rss {
      font-size: calc((100vw - 320px) / (640 - 320) * (20 - 16) + 16px);
      margin-top: 20px;
    }

    &__wrapper-left {
      max-width: 100%;
    }
  }

  .social {
    justify-content: center;
  }

  .footer-photo img {
    width: 200px;
    height: auto;
  }
}

@include mid-screen() {
  .footer {
    scroll-margin-top: 100px;
  }

  .footer__rss li:nth-of-type(2) {
    display: none;
  }

  .footer-photo img {
    width: 300px;
    height: auto;
  }

  .divider {
    margin-top: 20px;
  }
}

@include tablet-screen() {
  .contacts-container {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    margin-top: 30px;
    align-items: flex-start;
  }

  .contacts-title {
    text-align: left;
    font-size: 24px;
  }

  .contacts__list {
    &:first-of-type {
      margin-top: 0;
    }
  }

  .social-chenels {
    row-gap: 16px;
    margin-top: 0;
  }

  .divider {
    margin-top: 28px;
  }
}

@include extra-small-screen() {
  .footer__wrapper-right {
    max-width: 260px;
    text-align: left;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    p {
      display: inline-block;
    }
  }

  .footer__rss .footer__company-name {
    font-size: 10px;
    line-height: 1.2;
  }
}
