main {
  text-align: center;
  padding-bottom: 120px;
}

@include mid-screen() {
  main {
    text-align: center;
  }
}

@include tablet-screen() {
  main {
    padding-bottom: 80px;
  }
}

@include mobile-screen() {
  main {
    padding-bottom: 40px;
  }
}

@import "SectionsCommon";
@import "CompanyName";
@import "AboutCompany";
@import "CarBrands";
@import "Team";
