.section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $accent-color-secondary;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 1px 1px 2px black, 0 0 0.6em white, 0 0 0.2em white;
}

.common-section {
  padding-block: 80px;
}
