.section-title {
  font-size: 42px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $accent-color-secondary;
  font-weight: 700;
}

.common-section {
  padding-block: 80px;
  scroll-margin-top: 80px;
}

@include mobile-screen() {
  .section-title {
    font-size: 36px;
  }
  .common-section {
    padding-inline: 12px;
  }

  .common-section {
    padding-block: 40px;
    scroll-margin-top: 100px;
  }
}
