$main-color: #fff;
$accent-color: #008e07;
$accent-color-secondary: #009b4c;
$accent-color-secondary-alpha: rgba(0, 155, 76, 0.7);
$bg-color: #404040;
$bg-color-secondary: #f2f2f2;
$hover-color: #9dff20;
